modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "t4Kd4xGcqU3vfK4zS6lxUc198p1GVZbQZYoT/zfFEUpjNJA4DmdxA04Uu6zsCcSQ"
DEFAULT_ADMIN_PASSWORD = "SmityXmr@0816"
VAPID_PUBLIC_KEY = "BFQMqdjU5uyWAUrzXy6kQ0T-rJ9JmkRJF2w3CHCdrcnQ6MeSVGzR84avrTqqTpVna2POPHlvz_T1BZ3os3w55Y4"
VAPID_PRIVATE_KEY = "MRoBLguzVGeOyYHV_UEw1NKdQDbNwCw9nRzRUucm0uI"
VAPID_EMAIL = "mailto:admin@tournax.app"
APP_URL = "https://tourna-x--tournaxofficial.replit.app"

[userenv.production]

[objectStorage]
defaultBucketID = "replit-objstore-906a2c54-fffa-4975-b8c2-e53cfdd3f92b"
