modules = ["nodejs-24", "postgresql-16", "rust-stable"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "t4Kd4xGcqU3vfK4zS6lxUc198p1GVZbQZYoT/zfFEUpjNJA4DmdxA04Uu6zsCcSQ"
DEFAULT_ADMIN_PASSWORD = "SmityXmr@0816"
VAPID_PUBLIC_KEY = "BA6hiS2v8tNo3rDwOLA2KO-14Dm3MD-1sfu6nK-Ps_uCuiMzFzf8lfeYWT8o8lxcLRvdsR6V8SE_rII_IZ8JSf0"
VAPID_PRIVATE_KEY = "B3teBvYO9G2eZY0QaQz1vu94yFCqpSs0L4hYfLKl6vc"
VAPID_EMAIL = "mailto:admin@tournax.app"
APP_URL = "https://tourna-x--tournaxofficial.replit.app"
ADMIN_UPI_ID = "9971040244@ptaxis"

[userenv.production]

[objectStorage]
defaultBucketID = "replit-objstore-906a2c54-fffa-4975-b8c2-e53cfdd3f92b"
